.about-container {
    padding: 50px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.about-text {
    color: var(--primary-text-color);
    max-width: 50%;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: var(--secondary-text-color);
}

p {
    font-family: 'Roboto Mono', monospace;
    color: var(--primary-text-color);
}

.skills-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    gap: 20px;
    display: flex;
    height: 100px;
    width: 50px;
}

.icon {
    font-size: 80px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(20%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translatey(0);
}

.laptop-image {
    z-index: 3;
    height: 45rem;
    width: 45rem;
    margin: -100px;
}