.about-container {
    padding: 50px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.about-text {
    color: var(--primary-text-color);
    max-width: 50%;
}

h1 {
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
    color: var(--secondary-text-color);
}

h1:hover {
    color: var(--primary-text-color);

}

p {
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
    color: var(--primary-text-color);
}

.skills-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    gap: 20px;
    display: flex;
    height: 100px;
    width: 50px;
}

.icon {
    font-size: 4rem;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(20%);
    transition: all 2.5s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translatey(0);
}

.laptop-image {
    position: relative;
    z-index: 3;
    height: 45rem;
    width: 45rem;
    margin-top: -4rem;
    margin-right: -150px;
    color: radial-gradient(white 50% rgb(238, 238, 238) 80%);
}

.about-image {
    animation-name: floating;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }    
}