.banner {
    background-color: rgba(0, 0, 0, 1);  
    backdrop-filter: blur(5px);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.banner h1 { 
    color: rgb(182, 251, 201);
    font-size: 6rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

h2 {
    font-size: 20px;
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #9ee0a8, 0 0 15px #ffffff, 0 0 20px #00e600, 0 0 25px #00e61b;
    }
    to {
        text-shadow: 0 0 20px #96d395, 0 0 25px #4dff65, 0 0 30px #4dff6e, 0 0 35px #4dff6b;
    }
  }