.about-container {
    padding: 60px;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .about-container {
        height: 180vh;
        scroll-snap-align: flex-end;
    }
}

.about-text {
    color: var(--primary-text-color);
    max-width: 50%;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .about-text {
        margin-top: 18rem;
    }
}

h1 {
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
    color: var(--secondary-text-color);
}

h1:hover {
    color: var(--primary-text-color);

}

p {
    width: fit-content;
    font-family: 'Roboto Mono', monospace;
    color: var(--primary-text-color);
}

.skills-hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    gap: 20px;
    display: flex;
    height: 100px;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .icons {
        gap: 15px;
        height: 70px;
    }
}

.icon {
    font-size: 4rem;
}

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .icon {
        font-size: 3rem;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(20%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translatey(0);
}

.laptop-image {
    position: relative;
    z-index: 3;
    height: 40rem;
    width: 30rem;
    margin-top: -2rem;
    color: radial-gradient(white 50% rgb(238, 238, 238) 80%);
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .laptop-image {
        margin-left: -15rem;
        opacity: 0.3;
        height: 50rem;
        width: 35rem;
        margin-top: 15rem;
    }
}

.about-image {
    animation-name: floating;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 30px); }
    100%   { transform: translate(0, -0px); }    
}