@keyframes enlarge {
    to {font-size: 10rem;}
}

@keyframes fade-out {
    to {opacity: 0;}
}

.banner {
    z-index: 3;
    backdrop-filter: blur(5px);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-snap-stop: always;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .banner {
        height: 130vh;
        margin-bottom: 20rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .banner {
        height: 130vh;
        margin-bottom: 20rem;
    }
}


@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .banner {
        backdrop-filter: blur(0px);
        height: 80vh;
        
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .banner {
        backdrop-filter: blur(0px);
        height: 80vh;
        
    }
}

.banner h1.in-view {
    font-size: 6rem;
    opacity: 1; /* Target font size */
}

.banner h1 { 
    z-index: 3;
    color: var(--banner-text-color);
    font-size: 9rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    animation: enlarge linear;
    transition: all 3s;
    opacity: 0.5;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .banner h1 {
        font-size: 2.8rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .banner h1 {
        font-size: 2.8rem;
    }
}

.banner h1:hover {
    color: var(--primary-text-color);

}

h2 {
    z-index: 3;;
    color: var(--banner-text-color);
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    animation: fade-out;
    animation-timeline: scroll();

}

.container {
    display: block;
    line-height: 10px;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .container {
        overflow-x: scroll;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        overflow-x: scroll;
    }
}

