.contact-container {
    padding: 50px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    font-family: 'Roboto Mono', monospace;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .contact-container {
        margin-top: 20rem;
        margin-right: -5rem;
        gap: 2rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .contact-container {
        margin-top: -10rem;
        flex-direction: column;
    }
}

.contact-text-image {
    height: 32rem;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .contact-text-image {
        height: 24rem;
        width: 35rem;
        margin-top: -12rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .contact-text-image {
        margin-top: 15rem;
        width: 100%;
    }
}

.contact-image {
    display: flex;
    padding: 1rem;
    background-color: var(--timeline-bg-color);
    width: fit-content;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .contact-image {
        width: 90%;
    }
}

.first-contact-image {
    height: 15rem;
    width: 15rem;
    /* border-radius: 50%; */
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .first-contact-image {
        height: 9rem;
        width: 9rem;
    }
}

.contact-links {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10rem;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .contact-links {
        height: 9rem;
        width: 4rem;
        gap: -4rem;
        justify-content: center;
    }
}

.link {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .link {
        gap: 0.5rem;
        
    }
}

i {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .link i{
        font-size: 1rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .link a{
        font-size: 0.9rem;
    }
}


.fa-envelope {
    font-size: 1.5rem;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .fa-envelope{
        font-size: 1rem;
    }
}


.form-container {
    background-color: var(--timeline-bg-color);
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .form-container{
        margin-right: 5rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .form-container{
        margin-top: 5rem;
    }
}

.form h1{
    margin-top: -2.3rem;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .form h1{
        display: none;
    }
}

.form {
    padding: 2rem;
    width: 36rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .form {
        margin-top: -5rem;
        height: 28rem;
        width: 30rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .form {
        margin-top: -4rem;
        height: 12rem;
        width: 80%;
    }
}

.name-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
    min-width: 47%;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    input {
        height: 1.2rem;
        min-width: 40%;
    }
}


textarea {
    height: 6rem;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    textarea {
        height: 5rem;
    }
}

.form-submit {
    display: block;
}