.contact-container {
    padding: 50px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    font-family: 'Roboto Mono', monospace;
}

.contact-text-image {
    height: 32rem;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-image {
    display: flex;
    padding: 1rem;
    background-color: var(--timeline-bg-color);
    width: fit-content;
}

.first-contact-image {
    height: 15rem;
    width: 15rem;
    /* border-radius: 50%; */
}

.contact-links {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10rem;
}

.link {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

i {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.fa-envelope {
    font-size: 1.5rem;
}


.form-container {
    background-color: var(--timeline-bg-color);
}

.form h1{
    margin-top: -2.3rem;
}

.form {
    padding: 2rem;
    width: 36rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
    min-width: 48%;
}

textarea {
    height: 6rem;
}

.form-submit {
    display: block;
}