.how-started-container {
    gap: 10rem;
    margin-left: 10rem;
    padding: 60px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .how-started-container {
        margin-top: 40rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .how-started-container {
        margin-top: 40rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .how-started-container {
        gap: 5rem;
        padding-inline: 30px;
        margin-left: 0px;
        margin-top: 25rem;
        flex-direction: column-reverse;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .how-started-container {
        gap: 5rem;
        padding-inline: 30px;
        margin-left: 0px;
        margin-top: 25rem;
        flex-direction: column-reverse;
    }
}

.how-started-timeline {
    margin-left: -10rem;
    gap: 20px;
    width: 30rem;
    display: flex;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .how-started-timeline {
        margin-left: 5.6rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .how-started-timeline {
        margin-left: 5.6rem;
    }
}


.line-and-circles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-line {
    border-radius: 25%;
    background-image: linear-gradient(var(--background-color),var(--secondary-text-color),var(--background-color));
    height: 30rem;
    width: 0.3rem;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .vertical-line {
        height: 25rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .vertical-line {
        height: 25rem;
    }
}

.left-timeline {
    gap: 5rem;
    display: flex;
    flex-direction: column;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .left-timeline {
        gap: 4rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .left-timeline {
        gap: 4rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .left-timeline {
        gap: 3rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .left-timeline {
        gap: 3rem;
    }
}

.left-timeline h1 {
    font-size: 15px;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .left-timeline h1 {
        font-size: 12px;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .left-timeline h1 {
        font-size: 12px;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .left-timeline h1 {
        font-size: 14px;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .left-timeline h1 {
        font-size: 14px;
    }
}

.left-timeline p {
    font-size: 12px;
}

.right-timeline h1 {
    font-size: 15px;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .right-timeline h1 {
        font-size: 12px;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .right-timeline h1 {
        font-size: 12px;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .right-timeline h1 {
        font-size: 14px;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .right-timeline h1 {
        font-size: 14px;
    }
}

.right-timeline p {
    font-size: 12px;
}

.right-timeline {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .right-timeline {
        gap: 4rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .right-timeline {
        gap: 4rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .right-timeline {
        gap: 3rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .right-timeline {
        gap: 3rem;
    }
}

.timeline-box{
    opacity: 1;
    display: flex;
    padding: 10px;
    height: 6rem;
    width: 22vw;
    background-color: var(--timeline-bg-color);
    flex-direction: column;
    justify-content: center;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .timeline-box {
        height: 5rem;
        width: 18rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .timeline-box {
        height: 5rem;
        width: 18rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .timeline-box {
        height: 10rem;
        width: 9.5rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .timeline-box {
        height: 10rem;
        width: 9.5rem;
    }
}

.how-started-text {
    max-height: 36rem;
    color: var(--timeline-bg-color);
    max-width: 40%;
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .how-started-text {
        margin-top: -5rem;
        max-width: 100%;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .how-started-text {
        margin-top: -5rem;
        max-width: 100%;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .how-started-text h1 {
        font-size: 25px;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .how-started-text h1 {
        font-size: 25px;
    }
}

/* timeline animations */

.hidden-timeline-left {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-60%);
    transition: linear 1.2s;
}

.hidden-timeline-right {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(60%);
    transition: linear 1.2s;
}

.hidden-line {
    opacity: 0;
    height: 2rem;
    transition: linear 3s;
}

.show-line {
    opacity: 1;
    height: 30rem;
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .show-line {
        height: 25rem;
    }
}

@media (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (pointer: coarse) {
    .show-line {
        height: 25rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .show-line {
        height: 40rem;
    }
}

@media (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .show-line {
        height: 40rem;
    }
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translatey(0);
}
