/* * {
  border: 1px solid red;
} */

:root {
  --background-color: rgb(15, 15, 15);
  --banner-text-color: rgb(182, 251, 201);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(169, 255, 193);
  --toggle-bg-color: rgb(182, 251, 201);
  --toggle-fg-color: rgb(39, 255, 100);
  --mouse-bg-color: linear-gradient(to right, rgb(0, 200, 47), rgb(200, 132, 191));
  --timeline-bg-color: rgb(40, 40, 40);
}

[data-theme="light"] {
  --background-color: rgb(255, 251, 244);
  --banner-text-color: rgb(67, 191, 102);
  --primary-text-color: rgb(0, 0, 0);
  --secondary-text-color: rgb(67, 191, 102);
  --toggle-bg-color: rgb(147, 200, 162);
  --toggle-fg-color: rgb(96, 255, 141);
  --mouse-bg-color: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 255, 55));
  --timeline-bg-color: rgb(240, 236, 226);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  margin: 0px;
  display: grid;
  min-height: 100%;
}

.App {
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
}

body {
  cursor: url('/public/cursor.png'), auto;
  margin: 0px;
  height: 100vh;
  background-attachment: fixed;
}

#mouse-cursor {
  pointer-events :none;
  z-index: 2;
  height: 500px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: var(--mouse-bg-color);
  animation: rotate 20s infinite;
  opacity: 0.8;
  filter: blur(200px);
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}



