.project-wrapper {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    padding: 100px;
}

.project-container {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.project-text {
    min-height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.project-images {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.mokepon-image {
    background-image: url('/public/mokepon.png');
    background-size: 33.5rem;
    background-repeat: no-repeat;
    background-position-x: 4rem;
    background-position-y: 0.4rem;
    height: 25rem;
}

.blog-image {
    background-image: url('/public/blog.png');
    background-size: 33.5rem;
    background-repeat: no-repeat;
    background-position-x: 4rem;
    background-position-y: 0.4rem;
    height: 25rem;
}

.fit-squad-image {
    background-image: url('/public/fitsquad2.jpg');
    background-size: 33.5rem;
    background-repeat: no-repeat;
    background-position-x: 4rem;
    background-position-y: 0.8rem;
    height: 25rem;
}

.sea-and-b-image {
    background-image: url('/public/Sea&B.png');
    background-size: 33.5rem;
    background-repeat: no-repeat;
    background-position-x: 4rem;
    background-position-y: 0.8rem;
    height: 25rem;
}

.sprites {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.hidden-project {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(200%);
    transition: all 1.5s;
}

.show-project {
    opacity: 1;
    filter: blur(0px);
    transform: translatex(0%);

}

.hidden-sprite {
    opacity: 0;
    filter: blur(5px);
    transform: translatey(-200%);
    transition: ease-in 1s;
}

.show-sprite {
    opacity: 1;
    filter: blur(0px);
    transform: translatey(0);
    transition: ease-out 1s;
}


/* Next Button Css */
.btn-arrow {
    position: relative;
    top: -10rem;
    color: transparent;
    display: block;
    position: relative;
    width: 3rem;
    height: 3rem;

    background-color: var(--timeline-bg-color);

    transition: all 150ms ease-out;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
            top: 0;
            left: 0;

        background-color: var(--toggle-bg-color);
        
        transition: all 150ms ease-out;
    }

    &::before {
        width: 75%;
        height: 25%;
    }

    &::after {
        width: 25%;
        height: 75%;
    }

    &:hover {
        background-color: var(--toggle-bg-color);
        
        &::before,
        &::after {
            background-color: #404040;
        }
    }

    &.btn-arrow-left,
    &.btn-arrow-right {
        &::before,
        &::after {
            top: 12.5%;
            left: 12.5%;
        }
    }

    &.btn-arrow-left {
        transform: rotate(-45deg);
    }

    &.btn-arrow-right {
        transform: rotate(135deg);
    }
}

.next-button {
    display: flex;
}

.next-button p {
    font-size: 1.5rem;
    position: relative;
    top: -11rem;
    right: -1rem;
}